/**
 * @file
 * Subtheme specific CSS.
 */
/* .page-header {
    position: fixed;
    z-index: 1000;
    width: 100%;
}
    
.page-header .container {
    margin: 0;
    float: left;
}
 
.page-header .search-block-form {
    float: right;
    margin-right: 35px;
}
    
#sm_menu_ham {
    top: 50px!important;
} */



